<div class="tab-pane fade adminTable" id="categories">
        {% if categories %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th></th>  <!-- Actions column -->
                        </tr>
                    </thead>
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.title }}</a></td>
                        <td>
                            <a href="{{ path('category', { 'id': category.id }) }}" class="btn btn-info btn-xs" title="Edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            
                            <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#categoryDialog{{ category.id }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            
                            <div class="modal fade" id="categoryDialog{{ category.id }}" tabindex="-1" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                        </div>
                                        <div class="modal-body">
                                            Voulez vous vraiment supprimer cette categorie ? <br>Ceci peut engendrer la suppression de plusieurs vinyls...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a href="{{ path('admin_category_delete', { 'id': category.id }) }}" class="btn btn-danger">Confirm</a>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Pas de categorie.</div>
        {% endif %}
        <a href="{{ path('admin_category_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter Catégorie</button></a></div>