{% extends 'layout.html.twig' %}

{% block title %} {{ title }} {% endblock %}
{% block titleH1 %} {{ title }} {% endblock %}

{% block content %}


{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
    <META HTTP-EQUIV="Refresh" CONTENT="1;URL= {{ path('home') }}">
</div>
{% endfor %}


{% if form_errors(profilForm.password.first) %}
<div class="alert alert-danger">
    {{ form_errors(profilForm.password.first) }}
</div>
{% endif %}


{{ form_start(profilForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        {{ form_label(profilForm.name, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(profilForm.name) }}
            {{ form_widget(profilForm.name, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    
    <div class="form-group">
        {{ form_label(profilForm.surname, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(profilForm.surname) }}
            {{ form_widget(profilForm.surname, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(profilForm.adress, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(profilForm.adress) }}
            {{ form_widget(profilForm.adress, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(profilForm.postalCode, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(profilForm.postalCode) }}
            {{ form_widget(profilForm.postalCode, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(profilForm.town, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(profilForm.town) }}
            {{ form_widget(profilForm.town, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(profilForm.password.first, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_widget(profilForm.password.first, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(profilForm.password.second, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_widget(profilForm.password.second, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <input type="submit" class="btn btn-primary" value="S'enregistrer" />
        </div>
{{ form_end(profilForm) }}
</div>
{% endblock %}