{% extends 'layout.html.twig' %}

{% block title %}Ajouter un utilisateur{% endblock %}
{% block titleH1 %}Ajouter un utilisateur{% endblock %}
{% block content %}


{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
    <META HTTP-EQUIV="Refresh" CONTENT="1;URL= {{ path('home') }}">
</div>
{% endfor %}


{% if form_errors(userForm.password.first) %}
<div class="alert alert-danger">
    {{ form_errors(userForm.password.first) }}
</div>
{% endif %}


{{ form_start(userForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        {{ form_label(userForm.name, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.name) }}
            {{ form_widget(userForm.name, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    
    <div class="form-group">
        {{ form_label(userForm.surname, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.surname) }}
            {{ form_widget(userForm.surname, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.adress, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.adress) }}
            {{ form_widget(userForm.adress, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.postalCode, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.postalCode) }}
            {{ form_widget(userForm.postalCode, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.town, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.town) }}
            {{ form_widget(userForm.town, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    
    <div class="form-group">
        {{ form_label(userForm.username, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.username) }}
            {{ form_widget(userForm.username, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    
    <div class="form-group">
        {{ form_label(userForm.password.first, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_widget(userForm.password.first, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(userForm.password.second, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_widget(userForm.password.second, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    
    <div class="form-group">
        {{ form_label(userForm.role, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.role) }}
            {{ form_widget(userForm.role, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <input type="submit" class="btn btn-primary" value="S'enregistrer" />
        </div>
{{ form_end(userForm) }}
</div>
{% endblock %}